# Sanal ortam
.venv/
venv/
env/
ENV/

# Veritabanı
*.db

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[codz]
*$py.class

# Dağıtım / paketleme
build/
dist/
*.egg-info/
*.egg

# Test / coverage
.coverage
.pytest_cache/
htmlcov/

# IDE
.vscode/
.idea/

# OS
.DS_Store
desktop.ini
Thumbs.db

# Streamlit
.streamlit/secrets.toml

# Büyük veri dosyaları
data/raw/train.csv
*.csv

# Loglar
logs/
*.log

# Diğer
.env
.mypy_cache/
.ruff_cache/
tempCodeRunnerFile.py
